:root {
  box-sizing: border-box;
  --blue: #0b96ff;
  --black: #212426;
  --orange: #f48024;
  --light-gray: #f8faf9;
  --top-bar-allocated-space: 71px;
  --bottom-bar-allocated-space: 129px;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--light-gray);
  border-top: 5px solid var(--orange);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 71px;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px 2px rgba(128, 128, 128, 0.5);
}

header div {
  display: flex;
}

main {
  display: flex;
  /* border-left: 1px solid rgba(128, 128, 128, 0.5); */
  position: sticky;
  top: var(--top-bar-allocated-space);
  height: calc(
    100vh - var(--top-bar-allocated-space) - var(--bottom-bar-allocated-space)
  );
  /* bottom: var(--bottom-bar-allocated-space); */
}
